{% extends "includes/layout.twig" %}
{% block body %}

	<form action="api" id="form1">
		<input name="model">
		<input name="price">
		<button type="submit"></button>
	</form>

	<div id="lista">

    </div>

	<ul  id="teste"></ul>

	<script src="js/api.js"></script>
{% endblock %}
